<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПР5</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body background="https://phonoteka.org/uploads/posts/2021-04/1618373415_45-phonoteka_org-p-abstraktnie-foni-dlya-rabochego-stola-48.jpg">
<h2 style="text-align: center;color: white" >Поиск преподавателя</h2>
<form method="post" th:action="${'/Search/Teacher-result'}" class="col-md-2">
  <input class="form-control" type="text" name="surname"><br>
  <button  style="color: white" class="btn btn-warning" type="submit">Точное сопадение</button>
</form>
<form method="post" th:action="${'/Search/Teacher'}" class="col-md-2">
  <input class="form-control" type="text" name="surname"><br>
  <button style="color: white" class="btn btn-warning" type="submit">Не точное сопадение</button>
</form>
  <div th:each="el : ${result}">
    <h3 th:text="${el.getSurname()}" ></h3>
    <p th:text="${el.getName()}"></p>
    <p th:text="${el.getMiddlename()}"></p>
    <p th:text="${el.getBthday()}"></p>
    <p th:text="${el.getYearprepodav()}"></p>
  </div>
</body>
</html>